body {
  background-color: #7ac2fa;
}
.imagen-trabajadores {
  background-image: url("https://images.unsplash.com/photo-1518473537958-1d1b23cac484?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: 500px;
  height: 525px;
  z-index: 0;
  background-size: cover;
}
.imagen-empleadores {
  background-image: url("https://imagenes.lainformacion.com/files/image_656_370/uploads/imagenes/2018/04/16/5ad4831c14289.jpeg");
  width: 500px;
  height: 525px;
  z-index: 0;
  background-size: cover;
}
.texto-imagen {
  text-decoration: none;
  z-index: 1;
}
.boton-iniciar-sesion {
  background-color: #7ac2fa;
}
