body {
  background-color: rgb(121, 121, 118);
}
.imagen-trabajadores {
  background-image: url("https://www.mcmobiliariocomercial.com/res/uploads/-112.jpg");
  width: 500px;
  height: 525px;
  z-index: 0;
}
.imagen-empleadores {
  background-image: url("https://imagenes.lainformacion.com/files/image_656_370/uploads/imagenes/2018/04/16/5ad4831c14289.jpeg");
  width: 500px;
  height: 525px;
  z-index: 0;
}
.texto-imagen {
  z-index: 1;
}
